.all {
  width: 100%;
}

.all header {
  width: 100%;
  height: 85px;
  background-color: #fff;
}

.all header .nav {
  width: 1270px;
  height: 85px;
}

.all header .nav .row {
  width: 1100px;
  height: 85px;
  padding: 0 20px;
}

.all header .nav .row .col-sm-4 {
  padding: 30px 0 30px 80px;
  color: #606060;
}

.all header .nav .row .col-sm-4 h5 {
  margin-right: 0;
}

.all header .nav .row .box {
  width: 75px;
  height: 85px;
  background-color: #12a4d7;
  padding: 25px 10px;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}

.all header .nav .row .col-sm-6 {
  padding: 30px;
}

.all header .nav .row .col-sm-6 a {
  margin-right: 40px;
  text-decoration: none;
  color: #b0b1b5;
  font-size: 18px;
}

.all header .nav .row .col-sm-6 button {
  margin-right: 30px;
  width: 66px;
  height: 25px;
  background-color: #fa8661;
  border: none;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}

.all .main {
  width: 100%;
  height: 490px;
  background-image: url("../img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.all .main .text {
  width: 730px;
  height: 280px;
  text-align: center;
}

.all .main .text .title {
  color: #cbcdcd;
  font-size: 40px;
  font-family: 'Anton', sans-serif;
  margin-bottom: 5px;
}

.all .main .text p {
  color: #cccecd;
  font-size: 14px;
  margin: 0;
}

.all .main .text .btn {
  width: 240px;
  height: 52px;
  background-color: #fa8661;
  border: none;
  color: #fde3c1;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
}

.all .btn-box {
  width: 155px;
  height: 45px;
  margin-top: -20px;
  padding: 0;
}

.all .btn-box .btn-1 {
  width: 145px;
  height: 35px;
  border: none;
  background-color: #218fc0;
  border-radius: 5px;
  color: #feffff;
  font-weight: bold;
}

.all .main-awesome {
  width: 100%;
  height: 310px;
  background-color: #f4f4f4;
}

.all .main-awesome .awesome {
  width: 940px;
  height: 260px;
}

.all .main-awesome .awesome .row {
  width: 940px;
  height: 300px;
  padding: 20px 20px;
}

.all .main-awesome .awesome .row .foo {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #218fc0;
  margin: 15px 50px;
  padding: 30px 30px 50px 30px;
  text-align: center;
}

.all .main-awesome .awesome .row .foo i {
  font-size: 55px;
  color: #8ecdf0;
}

.all .main-awesome .awesome .row .string {
  margin-top: 0;
  text-align: center;
}

.all .main-awesome .awesome .row .string h5 {
  margin: 5px;
  color: #5b626c;
}

.all .main-awesome .awesome .row .string .bar {
  margin: 0;
  font-size: 12px;
  color: #5b626c;
}

.all .portfolio {
  width: 100%;
  height: 550px;
  background-color: #2e3e4e;
  padding: 60px;
}

.all .portfolio .photo {
  width: 930px;
  height: 390px;
  padding: 0 40px;
}

.all .portfolio .photo h4,
.all .portfolio .photo h6 {
  color: #f88662;
}

.all .portfolio .photo button {
  width: 90px;
  height: 25px;
  border: none;
  color: #fff;
  border-radius: 5px;
  background-color: #218fc0;
  text-align: center;
  font-size: 14px;
}

.all .portfolio .photo .card {
  background-color: #2e3e4e;
  border: none;
  margin-top: 20px;
}

.all .portfolio .photo .card .foo {
  width: 250px;
  height: 100px;
  background-color: #bebebe;
  border: 8px solid #fff;
  padding: 100px 100px 150px;
}

.all .portfolio .photo .card .foo i {
  font-size: 50px;
  color: #fff;
  margin: 0;
}

.all .portfolio .photo .card .card-text {
  margin: 0;
  font-size: 12px;
  color: #bcbeb9;
}

.all .testimonals {
  width: 100%;
  height: 650px;
  padding: 50px;
}

.all .testimonals .index-last {
  width: 950px;
  height: 600px;
  text-align: center;
}

.all .testimonals .index-last .title {
  font-size: 55px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #2290c0;
  margin-bottom: 10px;
}

.all .testimonals .index-last .text {
  margin: 0;
  font-size: 14px;
  color: #505962;
}

.all .testimonals .index-last .row {
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.all .testimonals .index-last .row .string {
  text-align: justify;
}

.all .testimonals .index-last .row .string .btn {
  background-color: #2191c3;
  border: none;
  width: 55px;
  height: 24px;
  text-align: center;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  margin-left: 155px;
}

.all .testimonals .index-last .row .string h5 {
  margin: 5px;
  color: #2290c0;
}

.all .testimonals .index-last .row .string .bar {
  margin: 0;
  font-size: 11px;
  color: #5b626c;
}

.all .testimonals .index-last .text-foo {
  color: #535762;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif, cursive;
  margin: 0;
}

.all .testimonals .index-last .jon {
  color: #f98560;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.all .testimonals .index-last .person {
  width: 250px;
  height: 85px;
  text-align: center;
}

.all .testimonals .index-last .person .human {
  width: 250px;
  height: 75px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  border-bottom: #fff;
}

.all .testimonals .index-last .person .human img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.all .testimonals .index-last .person .human .col-sm-4 {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #c1c1c1;
  margin-right: 3px;
  padding: 7px 0;
}

.all .testimonals .index-last .person .human .foo {
  background-color: #f98461;
}

.all .testimonals .index-last .person .human .foo-1 {
  width: 70px;
  height: 10px;
  background-color: #c1c1c1;
  margin-top: 10px;
  margin-right: 5px;
}

.all .testimonals .index-last .person .human .foo-2 {
  width: 70px;
  height: 10px;
  background-color: #f98461;
  margin: 10px 5px 10px 0;
}

.foot {
  width: 100%;
  height: 350px;
  background-color: #2e3e4e;
  margin-top: 20px;
  padding: 30px;
}

.foot .last {
  width: 980px;
  height: 320px;
}

.foot .last .col-sm-3 {
  width: 250px;
}

.foot .last .col-sm-3 h3 {
  color: #f98461;
}

.foot .last .col-sm-3 p {
  color: #a4afb3;
  font-size: 12px;
  margin: 0;
}

.foot .last .col-sm-3 hr {
  width: 205px;
  height: 2px;
  color: #566270;
}

.foot .last .col-sm-3 a {
  text-decoration: none;
  font-size: 12px;
  color: #2485b2;
  margin: 0;
}

.foot .last .col-sm-3 input {
  width: 225px;
  height: 27px;
  margin: 5px;
}

.foot .last .col-sm-3 button {
  width: 78px;
  height: 25px;
  background-color: #2485b2;
  border: none;
  margin-left: 150px;
  margin-top: 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}

.foot .last .col-sm-3 .rectangle {
  width: 50px;
  height: 50px;
  margin-top: 0px;
}

.foot .last .col-sm-3 label {
  margin: 0;
}

.foot .last .col-sm-3 i {
  color: #2485b2;
  font-size: 40px;
}

.foot .last .foo {
  width: 270px;
}

.foot .last .foo-1 {
  width: 200px;
}
/*# sourceMappingURL=style.css.map */